@import url('https://fonts.googleapis.com/css2?family=Explora&family=Public+Sans:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow-x: hidden;

}

.padding{
    @apply px-6 md:px-16 lg:px-24 py-6 md:py-4;
}

.hero {
    background-image: url('./assets/bg-intro-desktop.svg')    ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 600px -290px;

}

@media (max-width:768px) {
    .hero{

        background-image: url('./assets/bg-intro-desktop.svg')    ;
        background-size:800px 400px;
        background-position: -200px -100px;
    }
}